html,
body {
  background: yellow;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.App {
  position: absolute;
  top: 0;
  min-height: 100vh;
  min-width: 100vw;
  font-family: sans-serif;
  text-align: center;
  background: green;
}
.Info {
  position: absolute;
  right: 20px;
  top: 20px;
  background: none;
  outline: none;
  border: none;
  color: white;
}
.Copyright {
  position: absolute;
  left: calc(50% - 100px);
  width: 200px;
  bottom: 20px;
  background: none;
  outline: none;
  border: none;
  color: white;
  font-size: 10px;
}

.Paperella {
  position: absolute;
  left: calc(50% - 100px);
  top: calc(50% - 100px);
  width: 200px;
  height: 200px;
  display: flex;
  overflow: hidden;
  background: red;
  border-radius: 100%;
}

.PaperellaLink {
  width: 100%;
  height: 100%;
  display: flex;
  justify-items: center;
  align-content: center;
  background: none;
  outline: none;
  border: none;
  color: white;
}
.PaperellaImg {
  width: 100%;
  height: 100%;
}
